{% extends "base.html" %}
{% load static %}
{% block page_content %}
<p>My name is Glen. I am a software engineer with 5 years of experience working with all the major languages in the
    with a prominence in python. I major in deep learning and it would be nice to share my expertees. I
    Links to some of my work can be found below and im am readily available whenever you may want to
    to speak details.
</p>
<h1>My Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}